	<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>



			<section class="container">

				<% flash.each do |key, value| %>
	              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	            <% end %>

				<!-- Who Am I -->
				<article class="row">
					<div class="col-md-6">
								<img class="img-responsive" src="/images/about_1.jpg" width="555" height="311" alt="">
					</div>
					<div class="col-md-6">
						<h3>Кто мы?</h3>
						<p>Компания "Инфоком-НН", занимается ИТ-аутсорсингом. В 2014 году мы запустили проект "AllProgress.ru" <strong>по созданию удобных и информативных сайтов</strong>. Нашей задачей является ориентация заказчиков на современные технологии. Мы создали проект, позволяющий нашим клиентам не просто приобрести сайт "для галочки", но дающий возможность получить новый высокоэффективный инструмент для развития бизнеса.</p>
						
						<hr />

						<ul class="list-icon star-o">
							<li>Вы приобретайте <strong class="orange">готовый сайт</strong></li>
							<li>Мы готовы взять на себя дальнейшее <strong class="orange">сопровождение сайта</strong></li>
							<li>Наши сайты легко выводятся <strong class="orange">в ТОП поисковиков</strong></li>
						</ul>

					</div>
				</article>


				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<!-- SKILLS -->
				<div class="row">

					<div class="col-xs-6 col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="87" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>HTML</strong>
									<label>91%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="93" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>CSS</strong>
									<label>93%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="73" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>Ruby on Rails</strong>
									<label>73%</label>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="text-center">
							<div class="circular-bar">
								<input class="knob" data-linecap="round" data-bgColor="#FAFAFA" data-fgColor="#F07057" data-thickness=".06" value="61" data-readOnly="true" data-displayInput="false">
								<div class="circular-bar-content">
									<strong>PHOTOSHOP</strong>
									<label>61%</label>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /SKILLS -->


				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>


<%= render "/shared/callout" %>



			</section>


		</div>
		<!-- /WRAPPER -->
