<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<section class="container">

				<%= render "/shared/important" %>
            
				<h2>Потому что <strong>Вы</strong> лучшие!</h2>

				<p class="lead">Мы предлагаем Вашему вниманию пожалуй лучший вариант по изготовлению сайтов. Вы покупаете практически готовый продукт, а не кота в мешке. Уже на этапе выбора появляется полное представление о вашем будущем сайте. Остаётся только наполнить его содержимым и разместить в интернете!</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<p>Компания ООО "Инфоком-НН" предлагает Вашему вниманию инновационный проект - "AllProgress.ru". Цель проекта - изготовление сайтов. <strong>Качественный сайт</strong> способен принести Вашему бизнессу существенную пользу.</p>
				<p>Число потенциальных покупателей товаров и услуг в интернете постоянно увеличивается. Любая современная компанию имеет, либо задумывается о создании сайта. Он нужен не только для позиционирования организации, сколько для демонстрации продукции, что называется, "лицом" к покупателю. Данный канал коммуникации к тому же позволяет довольно чётко проследить эффективность и получить представление о количестве новый потенциальных клиентов.</p>
					<img class="pull-right inner img-thumbnail img-responsive" src="/images/test_1_thumb.jpg" alt="image" />
				<p>Традиционно <strong>создание сайта начинается с поиска исполнителя</strong>. Нужно найти несколько организаций, занимающихся разработкой сайтов. Провести небольшой анализ по цене интерактивной страницы. Особое внимание следует обратить на портфолио организации. Если Вам не нравятся уже реализованные работы, то велика вероятность, что проект Вашего будущего сайта Вам также не понравится. </p>
				<p>После того, как вы найдёте контрагента, необходимо совместно с ним написать техническое задание. Обратите внимание, что практически у всех компаний, занимающихся сайтостроением, написание техзадания является платным. Такой подход является как минимум странным. По сути получается, что исполнитель за Ваши деньги пишет алгоритм своей работы, чтобы взять с Вас ещё больше денег :)</p>
				<p>После написания технического задания и согласования его с заказчиком, начинается этап создания дизайнерского эскиза. Далее под этот искиз верстается макет. Парарельно, если сайт разрабатывается "с нуля", тоесть без использования готовых CMS, web-программист пишет код. При использовании системы управления контентом написание дополнительного функционала, как правило для стандартных сайтов, не требуется. Необходимо лишь "прикрутить" дизайнерский макет к движку сайта.</p>
				<div class="testimonial classic male"><!-- full width -->
					<p>Мы абсолютно уверенны в своих силах и в качестве предлагаемого Вам продукта, поэтому можем совершенно открыто говорить о плюсах работы наших конкурентов и алгоритме функционирования "традиционных" изготовителей сайтов.</p>
					<cite><strong>Никита Сергеевич</strong>, Исполнительный директор ООО "Инфоком-НН"</cite>
				</div>

				<p>В зависимости от алгоритма работы компании изготовителя он может предложить Вам несколько вариантов дизайна, либо один единственный <strong>внешний вид сайта</strong>. При этом количество вариантов часто зависит от толщины кошелька заказчика. Это, однако, не даёт гарантии того, что Заказчику понравится какой-либо из предложенных вариантов.</p>
				<p>После согласования макета наступает черёд копирайтеров. Эту функцию может взять на себя как заказчик, так и исполнитель. Однако в России, почему-то исполнители весьма не охотно берут на себя данную функцию. Это тем более странно, что без качественного наполнения сложно сделать <strong>профессиональный сайт</strong>. А именно этого вы ждёте от исполнителя.</p>
				<p>И вот, наконец, сайт готов. Остаётся разместить его в сети. Для этого необходимо проплатить хостинг и купить доменное имя. После окончания работ стороны подписывают акт выполненных работ. Выплаты за работы, как правило, делятся на этапа - определённый процент до начала работ, остальное после подписания закрывающих документов.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="row">
					<div class="col-md-4">

						<div class="testimonial white">
							<h4>Почему компании выбирают именно наши сайты?</h4>
							<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
						</div>

					</div>
					<div class="col-md-4">
						<h4>Почему Вы будете сотрудничать именно с нами?</h4>
						<div class="testimonial color2">
							<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
						</div>
					</div>
					<div class="col-md-4">
						<h4>Почему сотрудничество станет долгосрочным?</h4>
						<div class="testimonial color1">
							<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
						</div>
					</div>
				</div>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

					<img class="pull-right inner img-thumbnail img-responsive" src="/images/test_2_thumb.jpg" alt="image" />

				<p><strong class="orange">Работая с нашей компанией Вы пропускайте несколько этапов из описанного выше "традиционного" алгоритма создания сайтов</strong>. Уже сейчас Вы можете выбрать дизайнерское решение вашей интерактивной страницы в нашем Магазине сайтов. Соответственно Вам не нужно тратить время и деньги на написание технического задания. Вам не нужно ждать изготовления первых макетов. Вы не столкнётесь с тем, что ни один из готовый вариантов вам не нравится. </p>
				<p>Вы сразу выбираете понравившийся Вам вариант из готовых макетов. При этом каждая предлагаемая нами разработка выполненна с максимальной скорпулёзностью. <strong>Каждый наш сайт - это высокотехнологичный, современный продукт, изготовленный на высочайшем профессиональном уровне</strong>. </p>
				<p>После выбора сайта <strong>Вы связявайтесь с нашим менеджером</strong>. Мы высылаем Вам образей договора. После его подписания наши специалисты, совместно с Вашими сотрудниками, дорабатывают макет и наполняют его содержимым. Для написания контента мы можем привлечь профессиональных копирайтеров.</p>

				<%= render "/shared/callout" %>
			
			</section>

		</div>
		<!-- /WRAPPER -->
