		<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<%= render '/shared/moremenu' %>

			<section class="container">

				<h2><strong>Ч</strong>асто <strong>З</strong>адаваемые <strong>В</strong>опросы</h2>

				<p class="lead">У вас есть сомнения по использованию той или иной функции? Можете связаться с менеджером сервиса. Но перед этим ознакомьтесь с "инструкцией по применению".</p>

				<!--
				<h3>Также можете посмотреть пошаговые инструкции сервиса "Клуб промоутеров"</h3>
				<ul>
					<li><strong>Для промоутеров</strong></li>
						<ul>
							<li>Регистрация для промоутеров</li>
							<li>Конопка "Найти работу"</li>
							<li>Профайл промоутера</li>
							<li>Пункт меню "Приглашения"</li>
							<li>Пункт меню "Мои отклики"</li>
							<li>Пункт меню "Работодатели"</li>
							<li>Пункт меню "Мои отзывы"</li>
						</ul>
					<li><strong>Для работодателей</strong></li>
						<ul>
							<li>Регистрация для работодателей</li>
							<li>Профайл работодателя</li>
							<li>Вакансии</li>
							<li>Пункт меню "Новые отклики"</li>
							<li>Пункт меню "Отобранные промоутеры"</li>
							<li>Пункт меню "Мои отзывы"</li>
						</ul>
					<li><strong>Общее</strong></li>
						<ul>
							<li>Задать вопрос</li>
							<li>Поиск промоутеров</li>
							<li>Поиск работодателей</li>
							<li>Поиск вакансий</li>
							<li>Рейтинг. Алгоритм формирования и назначение</li>
						</ul>
				</ul>
					-->
				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="toogle toogle-accordion">

					<div class="toggle active">
						<label>Для чего нужен сервис "Клуб промоутеров"?</label>
						<div class="toggle-content">
							<p>"Клуб промоутеров" предназначен для быстрого и удобного поиска промо-персонала в городах России, Украины и Беларуси. Эффективный поиск в автоматизированном режиме позволит в течении нескольких минут обеспечить акцию промоутерами.</p>

							<div class="divider styleColor white"><!-- divider -->
								<i class="fa fa-leaf"></i>
							</div>

							<!-- columns -->
							<div class="row">
								<div class="col-md-6">
									<h4>Поиск промоутеров</h4>
									<div class="item-box">
										<figure>
											<a class="item-hover" href="/uslugi/poisk-promouterov.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-eye fsize20"></span>
													<strong>УЗНАТЬ</strong> БОЛЬШЕ
												</span>
											</a>
											<img class="img-responsive" src="/images/poisk-promouterov.jpg" width="260" height="260" alt="Поиск промоутеров">
										</figure>
									</div>
									<p><strong>Поиск промоутеров</strong> - задача отнюдь не тривиальная. На формирование базы промоутеров btl агентства тратят огромное количество времени и денег. Мы предлагаем вам удобный способ найти промоутера под вашу акцию в любом городе России. Для начала работы вам необходимо пройти процедуру <a href="/users/sign_up">регистрации</a> в нашем сервисе.</p>
									<a href="/uslugi/poisk-promouterov.html" class="btn btn-primary btn-xs center-block">Сделать Выбор</a>

								</div>
								<div class="col-md-6">
									<h4>Найти работу промоутером</h4>
									<div class="item-box">
										<figure>
											<a class="item-hover" href="/uslugi/naiti-rabotu-promouterom.html">
												<span class="overlay color2"></span>
												<span class="inner">
													<span class="block fa fa-eye fsize20"></span>
													<strong>УЗНАТЬ</strong> БОЛЬШЕ
												</span>
											</a>
											<img class="img-responsive" src="/images/naiti-rabotu-promouterom.jpg" width="260" height="260" alt="Найти работу промоутером">
										</figure>
									</div>
									<p>Поиск работы - сложный процесс. Даже если это временная работа на период летних каникул или работа промоутером. Мы предлагаем вам удобный способ <strong>найти работу промоутером</strong> в течении нескольких минут с использованием нашего сервиса. Всё что вам для этого нужно - <a href="/users/sign_up">зарегистрироваться</a> у нас и разместить свою анкету в базе данных.</p>
									<a href="/uslugi/naiti-rabotu-promouterom.html" class="btn btn-primary btn-xs center-block">Подробнее</a>
								</div>

							</div>

							<p class="lead padding30 text-center">Сервис "Клуб промоутеров" - ваш пропуск в мир btl-проектов.</p>
						</div>
					</div>

					<div class="toggle">
						<label>Как началь пользоваться сервисом?</label>
						<div class="toggle-content">
							<p>Все контакты, как промоутеров, так и работодателей, видны только зарегистрированным пользователям. Если вы хотите найти промоутера или ищите btl-агенство в первую очедь необходимо зарегистрироваться.</p>
							<p>Регистрация в нашем сервисе бесплатная.</p>
							<p>После регистрации промоутеры смогут увидеть контакты работодателя в подходящей вакансии. Также аккаунт промоутера попадает в нашу базу для автоматического оповещения о новых подходящих вакансиях. С помощью кнопки "Найти работу" промоутер автоматически получает список всех подходящих вакансий из нашей базы.</p>
							<p>Работодатели получают доступ ко всем контактам. Также можно размещать вакансии. При создании новой вакансии все промоутеры, которые подходят под ваши требования, автоматически получают приглашение принять участие в акции. В случае необходимости можно продублировать приглашение посредством смс.</p>
						</div>
					</div>

					<div class="toggle">
						<label>Я - промоутер. Как мне найти работу?</label>
						<div class="toggle-content">
							<p>В первую очередь вам необходимо зарегистрироваться в нашем сервисе. Сделать это можно <a href="http://localhost:3000/users/sign_up?status=promo">по ссылке</a>.</p>
							<strong>После регистрации вам будут доступны следующие функции:</strong>
							<ul class="list-icon check StyleSecondColor">
								<li>Быстрый поиск работы одной кнопкой</li>
								<li>Вы попадёте в общую базу данных. Работодатели смогут увидеть вашу анкету и пригласить на работу</li>
								<li>Вы сможете самостоятельно откликаться на вакансии</li>
								<li>Вы сможете оставлять отзывы и влиять на рейтинг работодателей</li>
							</ul>
						</div>
					</div>

					<div class="toggle">
						<label>Я - работодатель. Как мне найти сотрудников?</label>
						<div class="toggle-content">
							<p>Для использования нашего сервиса вас необходимо зарегистрироваться. Регистрацию можно пройти <a href="http://allpromoters.ru/users/sign_up?status=agent">по этой ссылке</a>. После регистрации вы получите доступ к контактной информации промоутеров, а также сможете размещать вакансии.</p>
							<strong>После регистрации вам будут доступны следующие функции:</strong>
							<ul class="list-icon check StyleSecondColor">
								<li>Просмотр контактной информации промоутеров</li>
								<li>Размещение вакансий</li>
								<li>Автоматические приглашения всех промоутеров, подходящих под условия вашей вакансии</li>
								<li>Приглашение подходящих промоутеров через смс сообщения</li>
								<li>Вы сможете оставлять отзывы и влиять на рейтинг промоутеров</li>
							</ul>
						</div>
					</div>

					<div class="toggle">
						<label>Для чего нужен рейтинг пользователей? Как он формируется?</label>
						<div class="toggle-content">

							<p>Рейтинг и у промоутеров и у работодателей влияет на порядок выдачи в общем списке. Промоутеры с наибольшем рейтингом располагаются вверху списка в базе промоутеров.</p>
							<p>Рейтинг можно увидеть справа от имени пользователя.</p>
							<strong>Как поднять рейтинг</strong>
							<ul class="list-icon check StyleSecondColor">
								<li>Ваши коллеги могут оставить отзыв о вас. Положительный отзыв добавляет +1 к рейтингу. Отрицательный отзыв убавляет рейтинг.</li>
								<li>Рейтинг увеличивается когда работодатель добавляет пользователя в свой список постояных промоутеров</li>
							</ul>
						</div>
					</div>

				</div>

				<!-- CALLOUT -->
				<div class="bs-callout text-center nomargin-bottom">
					<h3>
						<strong>У Вас</strong> ещё остались вопросы?
					</h3>
					<br>
						<a href="#" data-toggle="modal" data-target="#letter" class="btn btn-lg btn-primary"><i class="fa fa-pencil-square-o"></i>ЗАДАТЬ ВОПРОС</a>

				</div>
				<!-- /CALLOUT -->

			</section>

		</div>
		<!-- /WRAPPER -->