<!-- WRAPPER -->
		<div id="wrapper">

			<!-- PAGE TITLE -->
			<%= render "/shared/bread" %>

			<section class="container">

				<%= render "/shared/important" %>
            
				<h2>Потому что <strong>Вы</strong> лучшие!</h2>

				<p class="lead">Мы предлагаем Вашему вниманию пожалуй лучший сервис по поиску временной работы в качестве промоутера в рускоязычном сигменте сети Интернет.</p>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<h3>Вы ищите работу промоутером?</h3>
				<p>В начале своей трудовой деятельности многие из нас выбирают вариант трудоустройства на btl-проектах. Работа промоутером является, как правило, временным этапом при отсутствии трудового опыта. Однако это занятие сопряженно с определёнными рисками.</p>
					<img class="pull-right inner img-thumbnail img-responsive" src="/images/promoters.png" alt="image" />
				<p>Традиционно потенциальные сотрудники промо-агентств ищут работу через интернет, рекомендации друзей или объявления. Однако эти способы требуют затрат времени и сил. </p>
				<p>Мы предлагаем вашему вниманию сервис по поиску работы для промоутеров. На нашем сайте зарегистрированны крупные, средние и мелкие работодатели в области btl мероприятий. Каждый из них ищет сотрудников. Вам остаётся только разместить свою анкету в нашей базе промоутеров.</p>
				
				<div class="testimonial classic male"><!-- full width -->
					<p>Благодаря нашему сервиса промоутеры могут оставлять отзывы о работе у того или иного работодателя. Это может обезопасить ваши деловые отношения в работодателем.</p>
					<cite><strong>Никита Сергеевич</strong>, Исполнительный директор ООО "Инфоком-НН"</cite>
				</div>

				<h3>Выгоды использования сервиса для промоутеров</h3>
				<p>Довольно часто промоутеры сталкиваются с неприятной ситуацией при работе напрямую с агентствами. Задержка при выплате зарплаты, отсутствие каких-либо гарантий, элементарное хамство.</p>
				<p>При использовании нашего сервиса у промоутеров появляется возможность оставлять отзыв о работе в том или ином агентстве. Тем самым вы сможете оградить ваших коллег от недобросовестных работодателей.</p>
				<p>Ваша оценка работы агентства также может повлиять на выбор контрагентов при заключении контрактов крупными фирмами-производителями. Никто не хочет работать с организацией, которая обманывает своих сотрудников.</p>
				
				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>

				<div class="row">
					<div class="col-md-4">

						<div class="testimonial white">
							<h4>Почему промоутеры регистрируются на нашем сервисе?</h4>
							<p>У нас, пожалуй, один из самых удобных интерфейсов в рунете среди ресурсов, специализирующихся на поиске промоутеров. Кроме того, нашим пользователям нравится скорость работы сервиса.</p>
						</div>

					</div>
					<div class="col-md-4">
						<h4>Почему Вы будете сотрудничать именно с нами?</h4>
						<div class="testimonial color2">
							<p>Заместо того, чтобы использовать неспециализированные ресурсы, спрашивать у друзей, искать объявления на улице вы можете росто разместить анкету у нас и уже очень скоро работодатель сам позвонит вам!</p>
						</div>
					</div>
					<div class="col-md-4">
						<h4>Почему сотрудничество станет долгосрочным?</h4>
						<div class="testimonial color1">
							<p>Btl-агентства заинтересованны в постоянных сотрудниках. Однако иногда условия работы в агентстве не соответствует вашим ожиданиях. В этом случае у вас появляется возможнсть быстро найти новую работу.</p>
						</div>
					</div>
				</div>

				<div class="divider"><!-- divider -->
					<i class="fa fa-star"></i>
				</div>



				<%= render "/shared/callout" %>
			
			</section>

		</div>
		<!-- /WRAPPER -->
