<!-- WRAPPER -->
    <div id="wrapper">

      <!-- PAGE TITLE -->
      <%= render "/shared/bread" %>

      <%= render '/shared/moremenu' %>

      <section class="container">
        <h2>Список <strong>ваших вакансий</strong></h2>
        <p>Здесь представлен список вакансий, которые были созданы вашей компанией.</p>
   

        <div class="row">
          <p id="notice"><%= notice %></p>
          <div class="col-md-12">

<%= grid(@vacancies) do |g|

  g.blank_slate  do
    content_tag :div, "  <strong>Вы пока не создали ни одной вакансии. Создаь вакансию вы можете в меню <a href='/vacancies/new'>новая вакансия</a> прямо сейчас.</strong>".html_safe, class: 'alert alert-warning'
  end

  g.column name: 'Наименование вакансии' do |vacancy|
    link_to vacancy.name, vacancy
  end

  g.column  name: 'Дата размещения' do |vacancy|
    Russian::strftime(vacancy.created_at, "%d %B %Y")
  end

  g.column  name: 'Отклики' do |vacancy|
    link_to "#{vacancy.replies.count} из них новых: #{vacancy.replies.where(:see => false).count}", replies_vacancy_path(vacancy)
  end

  g.column  name: 'Приглашения <br>(отправлены автоматически)'.html_safe do |vacancy|
    "#{vacancy.invites.count} #{Russian.pluralize(vacancy.invites.count, "приглашение", "приглашения", "приглашений")}"
  end

  g.column  name: 'SMS отправлено'.html_safe do |vacancy|
    "#{vacancy.sms_invites.count} SMS #{vacancy.sms_invites.count}"
  end  

  g.column  name: 'Отправить SMS'.html_safe do |vacancy|
    link_to "Отправить #{new_sms_count(vacancy)} SMS", vacancy_sms_invite_path(vacancy), :class => "btn btn-primary" if vacancy.sms_invites.blank? && new_sms_count(vacancy) != 0
  end  

  g.column name: 'Корректировки' do |task|
    link_to('Изменить', edit_vacancy_path(task))
  end

end -%>




          </div>

      </section>

    </div>
    <!-- /WRAPPER -->