    <section class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Данные <strong>ПРОМОУТЕРА</strong></h3>
            </div>
            <div class="panel-body">
                <%= render 'promoform' %>
            </div>
        </div>
    </section>