<div class="col-md-6">
  <%= link_to "Регистрация для промоутеров", edit_user_path(current_user, :status => "promo"), :class => "btn btn-success btn-lg col-md-12" %>
</div>

<div class="col-md-6">
  <%= link_to "Регистрация для работодателей", edit_user_path(current_user, :status => "agent"), :class => "btn btn-warning btn-lg col-md-12" %>
</div>