<section class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Для дальнейшей регистрации необходимо <strong>выбрать ваш статус</strong></h3>
        </div>
        <div class="panel-body">
            <%= render 'selectstatusform' %>
        </div>
    </div>
</section>
