
			<section class="container">

				<!-- CALLOUT -->
				<div class="row bs-callout text-center">
									
					<h3>Вы готовы к сотрудничеству с нашим проектом? <a href="/users/sign_up" class="btn btn-primary btn-lg">Да, я хочу зарегистрироваться!</a></h3>

				</div>
				<!-- /CALLOUT -->

			</section>