
			<section class="container">
				<!-- CALLOUT -->
				<div class="row bs-callout text-center">
					<div style="font-size: 1.8em; font-weight: 400; line-height: 24px; font-family: 'Open Sans'; margin: 0px 0px 12px;">
						Вы готовы к сотрудничеству с нашим проектом? <a href="/users/sign_up" class="btn btn-primary btn-lg">Да, я хочу зарегистрироваться!</a>
					</div>
				</div>
				<!-- /CALLOUT -->
			</section>