<div id="wrapper">
	<%= render "/shared/bread" %>
	<%= render '/shared/moremenu' %>
	<section class="container">
	<div class="mt100 mb100">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center flipInY-animated">
					<p><mark class="lead heavy no-margin">Станица не найдена</mark></p>
					<div class="error-404">
						<span class="ion-alert-circled"></span>404
						<p class="lead">Ой-ой-ой. Похоже страница, которую вы ищите, отсутствует.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</div>