.ui-helper-hidden-accessible{ display:none}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

@mixin icon-dimensions {
  width: 16px;
  height: 16px;
}

.wg-detached-filter, .wice-grid{

  .text-filter-container {
    input{
      width:auto;
      margin-right: 10px;
      display: inline;
    }
  }

  a.date-label {text-decoration: none;}
  a.date-label:hover {text-decoration: line-through;}

  .clickable{
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 2px;
  }

  .ui-datepicker-trigger, .wg-detached-filter .ui-datepicker-trigger{
    cursor: pointer;
  }

  .custom-dropdown-container {

    .expand-multi-select-icon, .collapse-multi-select-icon{
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-left: 5px;
      vertical-align: top;
    }

    .collapse-multi-select-icon{
      background: transparent url(/assets/icons/grid/collapse.gif) no-repeat;
    }

    .expand-multi-select-icon{
      background: transparent url(/assets/icons/grid/expand.gif) no-repeat;
    }

  }
}

.wice-grid{


  .desc,  .asc{
    padding-right: 18px;
    text-decoration:none;
  }

  .desc {
    background: transparent url(/assets/icons/grid/arrow_down.gif) right no-repeat
  }
  .asc  {
    background: transparent url(/assets/icons/grid/arrow_up.gif)   right no-repeat
  }

  .submit.clickable{
    background: transparent url(/assets/icons/grid/table_refresh.png) no-repeat;
    @include icon-dimensions;
  }

  .reset.clickable{
    background: transparent url(/assets/icons/grid/table.png) no-repeat;
    @include icon-dimensions;
  }


  .wg-show-filter.clickable,
  .wg-hide-filter.clickable{
    background: transparent url(/assets/icons/grid/page_white_find.png) no-repeat;
    @include icon-dimensions;
  }


  .export-to-csv-button.clickable{
    background: transparent url(/assets/icons/grid/page_white_excel.png) no-repeat;
    @include icon-dimensions;
  }

  .clickable.select-all{
    background: transparent url(/assets/icons/grid/tick_all.png) no-repeat;
    @include icon-dimensions;
    float:left;
  }

  .clickable.deselect-all{
    background: transparent url(/assets/icons/grid/untick_all.png) no-repeat;
    @include icon-dimensions;
    float:left;
  }


  /* in case of twitter bootstrap :) */
  thead th select{
    width: auto;
  }

  .pagination{
    margin: 0px;
    float: left;
  }


  tr.wg-filter-row  input[type=text] {
    width: 100px;
  }

  .pagination_status {
    font-weight: bold;
    float: right;
  }

}

.wice-grid-query-panel{
  li {list-style-type: none; }

  ul {margin-left: 0 }

  a.wice-grid-delete-query .delete-icon{
    background: transparent url(/assets/icons/grid/delete.png) no-repeat;
    float: left;
    @include icon-dimensions;
  }
}

input.wice-grid-save-query-field{
  width: auto;
  display: inline-block;
  margin-right: 10px;
}

